{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <title>Document</title>
</head>
<body>
<button onclick="alert('hello world');">Start</button>
<button onclick="alert('hello world');">Stop</button>
<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th></th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Info</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th></th>
        <th>Source</th>
        <th>Destination</th>
        <th>Protocol</th>
        <th>Info</th>
    </tr>
    </tfoot>
</table>
</body>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
    /* Formatting function for row details - modify as you need */
    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Info:</td>' +
            '<td>' + d.info + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Info 2:</td>' +
            '<td>' + d.info2 + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Info 3:</td>' +
            '<td>' + d.info3 + '</td>' +
            '</tr>' +
            '</table>';
    }

    $(document).ready(function () {
        $.ajax({
            url: '/data',
            type: 'get', // This is the default though, you don't actually need to always mention it
            success: function (data) {
                console.log("this is success");
            },
            failure: function (data) {
                console.log("this is failure");
            }
        });
        //to disable the warning if a certain value does not exist
        $.fn.dataTableExt.sErrMode = 'throw';

        var table = $('#example').DataTable({
            "ajax": "/data",
            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                {"data": "source"},
                {"data": "destination"},
                {"data": "protocol"},
                {"data": "info"}
            ],
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
</script>
</html>